dialog {
  border-radius: 0.6em;
  border: 0.2em solid rgb(var(--cf-onsurface-rgb));
  overflow: hidden;
  width: 16.4em;

  padding: 0;

  form {
    display: flex;
    flex-flow: row wrap;
    padding: 1em;
    gap: 1em;

    input {
      flex: 1;
      min-width: 7.6em;
      align-self: center;
      padding: 0.4em 0.6em;
      border-radius: 0.4em;
      border: 0.18em solid rgba(var(--cf-primary-rgb), 0.6);
      background-color: #f9f9f9;

      &[type='text'] {
        min-width: 12em;
      }

      &[type='color'] {
        min-width: 3em;
        padding: 0;
      }

      &[type='number'] {
        min-width: 3em;
      }

      &[type='checkbox'] {
        min-width: 2em;
      }
    }

    button {
      border: 0.18em solid rgb(var(--cf-onsurface-rgb));
    }
  }

  footer {
    flex: 1;
    gap: 0.6em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

button {
  background: #fff;
  color: #383b3a;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 3px #ccc;
  transition: transform 100ms;
  
  &:hover {
    transform: translateY(1px);
    box-shadow: 0 2px #ccc;
  }
  
  &:active {
    transform: translateY(3px);
    box-shadow: 0 0 1px #ccc;
  }
}
